.navbar {
  display: flex;
  justify-content: end;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  overflow: hidden;
  margin-right: 16px;
  font-size: 13px;
  list-style-type: none;
}
.navbar ul li {
  margin: 10px;
}
.navbar ul li a {
  display: block;
  color: black;
  text-align: right;
  padding: 5px;
  text-decoration: none;
}
.navbar ul li a img {
  width: 16px;
  height: 16px;
}

.middle {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.logo {
  text-align: center;
}

.search-area {
  display: flex;
  border-radius: 36px;
  background: #fff;
  border: 1px solid #dfe1e5;
  width: 50%;
}

.search {
  flex: 1;
  display: flex;
  padding: 9px 18px;
  justify-content: space-between;
  align-items: center;
}

.search-img {
  display: flex;
  align-items: center;
}

.search-img span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  margin-top: 0px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
}
.voice {
  cursor: pointer;
  align-items: center;
  vertical-align: middle;
  position: relative;
  left: 475px;
}

.input {
  border: none;
  flex: 100%;
  outline: none;
}
.buttons {
display: grid;
grid-template-columns: 1fr 1fr;
gap:10px;
}

.buttons a button {
  background-color: #f2f2f2;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  color: #5f6368;
  font-size: 14px;
  margin: 30px 4px;
  padding: 3px 16px;
  line-height: 27px;
}


.footer {
  background-color: #f2f2f2;
  margin: 0;
  padding: 30px;
  overflow: hidden;
  border: 1px solid #dfe1e5;
  border-top: 1px solid #dadce0;
  position: fixed;
  bottom: 0;
  width: -webkit-fill-available;
  line-height: 10px;
  display: flex;
  justify-content: space-between;

}
.footer ul{
    list-style-type: none;
padding: 0;
margin: 0;
}

.footer li {
  float: left;
}

.footer li a {
  color: #70757a;
  padding: 14px 16px;
  text-decoration: none;
}
