.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.about-top {
  padding: 50px 0;
  text-align: -webkit-center;
  hr{
    width: 15%;
    margin-bottom: 30px;
  }
  h4 {
    padding-bottom: 10px;
    font-weight: 500;
    letter-spacing: 1.5px;
    font-size: 24px;
    color: #000;
  }
  h3 {
    letter-spacing: 1.3px;
    margin-bottom: 28px;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.45;
    color: #000;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   height: 2px;
    //   width: 15%;
    //   background-color: #eee;
    //   bottom: 0px;
    // }
  }

  p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1.7px;
    font-weight: 300;
    max-width: 50%;
    margin: 20px 0 50px 0;
  }
}
.about-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .about-card {
    max-width: 350px;

    .about-icon {
        text-align: center;

    }
    .about-icon i {
      font-size: 42px;
      color: #fc6e51;
      padding-bottom: 15px;
      text-align: center;
    }
    .about-description {
        text-align: center;
      h1 {
        margin-top: 15px;
        margin-bottom: 20px;
        text-transform: none;
        font-weight: 500;
        font-size: 15px;
      }
      p {
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 1.7px;
        font-weight: 300;
        opacity: .5;
      }
    }
  }
}
@media (max-width:1046px){
    .about-bottom{
        justify-content: center;
    }
    .about-card{
        margin-top: 50px;
    }
}