.contact{
    text-align: -webkit-center;
    padding: 50px 0;
    h1 {
        font-weight: 700;
        color: #1f2021;
        text-transform: uppercase;
        font-size: 24px;
        text-align: center;
      }
      hr {
        width: 15%;
        margin-top: 10px;
      }
      p {
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 1.7px;
        font-weight: 300;
        max-width: 50%;
        margin: 20px 0 50px 0;
      }
}
.contact-form{
  margin-bottom: 20px;
}
.form-control{
    width: 100%;
    font-size: 12px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    
    border-radius: 1px;
    height: auto;
    padding: 9px 12px;

    box-shadow: none;
    
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.btn{
    display: block;
    width: 100%;
    margin-top: 10px;
    color: #FFF;
    text-transform: uppercase;
    background: rgba(34,34,34, .9);
    font-weight: 400;
    border-color: rgba(0,0,0, .7);
    padding: 8px 37px;
    font-size: 12px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}