.header {
  background: url("../img/bg.png");
  background-size: cover;
  width: 100%;
  position: relative;
  display: flex;
  height: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  h2 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: 1.6px;
  }
  h4 {
    font-size: 16px;
    font-weight: normal;
    line-height: 2.7;
  }
  .header-button a {
    color: #000000;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
    width: 155px;
    &:hover{
        background-color: blue;
    }
  }
}
