@import "style";

.navbar {
  background: white;
  border: none;
  width: 100%;
  margin-bottom: 0;

  border-bottom: 2px solid #f0f0f0;
  .logo {
    width: 70px;
    img {
      max-width: 100%;
      display: inline-block;
    }
  }
}
.navbar.active {
  position: fixed;
  opacity: 0.95;
  border: 1px solid #e8e8e8;
}
// .navbar> .active > a, .navbar> .active > a:hover, .navbar>
// .active > a:focus {
//   background: transparent;
//   color: #fc6e51;
// }
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-list {
  display: block;
  li {
    display: inline-block;
    position: relative;

    a {
      padding-right: 25px;
      line-height: 20px;
      font-size: 16px;
      display: block;
      font-weight: 500;
      color: black;
      &:hover {
        color: #fc6e51;
      }
    }
  }
}
.burger {
  display: none;
  align-items: center;
  height: 22px;
  position: relative;
  margin: 8px 15px 8px 0px;
  padding-right: 9px 10px;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
  transition: all 0.5s ease-in-out;
  div {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: black;
  }
}
@media (max-width: 768px) {
  .burger {
    display: flex;
    position: absolute;
    top: 10px;
    right: 0;
  }
  .navbar-list {
    display: none !important;

    flex-direction: column;
    align-items: flex-start !important;
    transition: transform 0.5s ease-in;
  }
  .navbar-list.show {
    display: flex !important;
    padding-bottom: 40px;
    padding-top: 40px;

  }
.logo{
  padding-top: 10px;
}
.navbar-list li a {
padding-bottom: 10px;
}
  .navbar-container{
    flex-direction: column;
    align-items: flex-start;
  }
}
