.prices {
  text-align: -webkit-center;
  padding: 50px 0;
  background-color: #f9f9f9;
  h1 {
    font-weight: 700;
    color: #1f2021;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
  }
  hr {
    width: 15%;
    margin-top: 10px;
  }
  p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1.7px;
    font-weight: 300;
    max-width: 50%;
    margin: 20px 0 50px 0;
  }
}

.prices-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .prices-card {
    position: relative;
    cursor: pointer;
    padding: 50px;
    color: #686876;
    font-size: 14px;
    background-color: #29293e;

    .prices-month {
      justify-content: center;
      display: flex;
      flex-direction: column;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      border: solid 10px #222231;
      background-color: white;
      h2 {
        font-size: 30px;
        font-weight: 700;
        color: #000;

        .currency {
          font-size: 18px;
          vertical-align: top;
        }
      }
      h3 {
        color: #737272;
      }
    }
    .prices-header {
      h1 {
        font-size: 24px;
        font-weight: 600;
        color: white;
        &:hover {
          content: " ";
          border-bottom: 1px solid #243446;
          width: 34px;
          height: 2px;
          left: 0;
          right: 0;
          margin: auto;
          display: block;
          margin-bottom: 26.3px;
        }
      }
      ul {
        li {
   
        }
        .un-avaliable {
          text-decoration: line-through;
          color: white;
        }
      }
    }
  }
}
@media (max-width:1046px){
  .prices-container{
      justify-content: center;
      flex-direction: column;
  }
  .prices-card{
     margin-bottom: 30px;
  }
}