
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family:'Poppins', sans-serif;
  }
  :root {
    font-size: 16px;
  }
  body {
    display: block;
    overflow-x: hidden;
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    list-style: none;
  }
  a {
    text-decoration: none !important;
  }

  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  /*breakpoints*/
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  @media (min-width: 1440px) {
    .container {
      max-width: 1200px;
    }
  }
  
