.team {
  text-align: -webkit-center;
  padding: 50px 0;
hr{
    width:15%;
    margin-top: 10px;
}
  h1 {
    font-weight: 700;
    color: #1f2021;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
  }
  p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1.7px;
    font-weight: 300;
    max-width: 50%;
    margin: 20px 0 50px 0;
  }
}
.team-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .team-card {
    max-width: 33%;
    position: relative;
    cursor: pointer;
    img {
      width: 100%;
      max-width: 100%;
    }
    .team-hover {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.9);
      opacity: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      &:hover {
        opacity: 1;
      }
      .team-hover-inner {
        position: absolute;
        width: 100%;
        top: 20%;
        padding: 0 20px;
        h3 {
        }
        h4 {
        }
        p {
          font-size: 12px;
          color: #999;
          line-height: 24px;
          margin-bottom: 40px;
        }
        .social {

          li {
            display: inline-block;
            margin-left: 5px;
            :first-child {
              margin: 0;
            }
            a {
              display: block;
              width: 40px;
              height: 40px;
              line-height: 38px;
              i {
                color: #8e8e8e;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width:1046px){
  .team-container{
      justify-content: center;
      flex-direction: column;
  }
  .team-card{
     max-width: auto !important;
  }
}